<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"> 
<head> 
<title>Magnetic Poetry Board</title> 
<%= stylesheet_link_tag "scaffold", "style" %>
<style>
body { margin: 0; }
p { text-align: center; }
div#info {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  background-color: white;
  margin: 0;
  text-align: center;
}
</style>
</head> 
<body> 

<center><%= image_tag("mmpb.png") -%></center>
<div id='info'>
<p>Create a poetry board with your favorite words to share with others.</p>
<%= link_to "Sign Up", signup_path -%> | 
<%= link_to "Sign In", login_path -%> | 
<%= link_to "Forgot Password", forgot_password_path -%>
</div>
<p>About | Contact</p>

</body> 
</html>
